name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches:
      - "**"

jobs:
  test_backend:
    name: Backend Tests
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: "./backend"
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.12"]
        toxenv: [quality, pii_check, django42]
    steps:
      - uses: actions/checkout@v4
      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install pip
        run: pip install -r requirements/pip.txt

      - name: Install Dependencies
        run: pip install -r requirements/ci.txt

      - name: Run Tests
        env:
          TOXENV: ${{ matrix.toxenv }}
        run: tox

      - name: Run coverage
        if: matrix.python-version == '3.12' && matrix.toxenv == 'django42'
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: unittests
          fail_ci_if_error: true
          working-directory: "./backend"

  test_frontend:
    name: Frontend Tests
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: "./frontend"
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: ['20']
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm install

      - name: Run linting
        run: npm run lint

      - name: Run test
        run: npm run test

  test_plugin:
    name: Plugin / Docs Tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [ "3.12" ]
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install tox
        run: pip install tox

      - name: Build documentation
        env:
          TOXENV: docs
        run: tox
